@import './variables/base';
@import './responsive';

/* to hide default cursor */
* {
  cursor: none;
}

/* resetting default styles */
html {
  line-height: 1.5;

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    color: $navy_blue;
    margin: 0;
    background: $white_100;
    min-height: 100vh;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

p,
h5,
h4 {
  font-family: 'Fauna One', serif;
}

h1,
h2,
h3 {
  font-family: 'Cinzel', serif;
}
