@import './variables/base';
@import './responsive';
@import './heading';

/* to hide default cursor */
* {
  cursor: none;
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
}

/* resetting default styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  line-height: 1.5;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
  height: 100%;
  text-rendering: optimizeLegibility;
  color: $navy_blue;
  background-color: $egg_shell;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
}

.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  padding: 70px 150px;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
}

p,
h5,
h4 {
  font-family: 'Fauna One', serif;
}

h1,
h2,
h3 {
  font-family: 'Cinzel', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: $black_50;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $white_25;
  border-radius: 3px;
}
