@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Dancing+Script:wght@400;500;600;700&family=Fauna+One&display=swap');

$font_size_12: 0.75rem;
$font_size_14: 0.875rem;
$font_size_16: 1rem;
$font_size_18: 1.125rem;
$font_size_20: 1.25rem;
$font_size_24: 1.5rem;
$font_size_32: 2rem;
$font_size_40: 2.5rem;
$font_size_48: 3rem;
$font_size_64: 4rem;
$font_size_80: 5rem;
$font_size_96: 6rem;
